@import "tailwindcss";

@source "../widgets/**/*.{ts,tsx}";
@source "../themes/**/*.{ts,tsx}";
@source "../common.ts";
@source "../types/gauge.ts";

.anedya-card-container {
  container-type: size;
  container-name: anedya-card;
  transition: width 0.25s ease, height 0.25s ease;
}

.anedya-card {
  --anedya-card-padding: clamp(1rem, 0.5rem + 2.5cqw + 2.5cqh, 4.5rem);
  --anedya-card-title-size: clamp(0.875rem, 0.6rem + 1.5cqw + 1.5cqh, 3rem);
  --anedya-card-value-size: clamp(2.25rem, 1rem + 8cqw + 8cqh, 9.5rem);
  --anedya-card-unit-size: clamp(1rem, 0.7rem + 1.5cqw + 1.5cqh, 3.25rem);
  --anedya-card-label-size: clamp(0.75rem, 0.5rem + 1.2cqw + 1.2cqh, 2.25rem);
  --anedya-card-gap: clamp(0.5rem, 0.2rem + 2cqw + 3cqh, 3.5rem);

  transition: padding 0.25s ease, gap 0.25s ease;
}

<<<<<<< HEAD

@container anedya-card(min-width: 320px) {
  .anedya-card {
    --anedya-card-padding: 1.25rem;

    --anedya-card-title-size: 1rem;
    --anedya-card-value-size: 2.75rem;
    --anedya-card-unit-size: 1.125rem;
    --anedya-card-label-size: 0.875rem;

    --anedya-card-gap: 0.75rem;
  }
}

@container anedya-card(min-width: 420px) {
  .anedya-card {
    --anedya-card-padding: 1.5rem;

    --anedya-card-title-size: 1.125rem;
    --anedya-card-value-size: 3.5rem;
    --anedya-card-unit-size: 1.25rem;
    --anedya-card-label-size: 1rem;

    --anedya-card-gap: 1rem;
  }
}

.anedya-gauge {
  container-type: inline-size;
  container-name: anedya-gauge;

  --anedya-gauge-padding: 0.75rem;
  --anedya-gauge-gap: 0.25rem;

  --anedya-gauge-title-size: 0.875rem;
  --anedya-gauge-value-size: 1.75rem;
  --anedya-gauge-unit-size: 0.875rem;
  --anedya-gauge-label-size: 0.75rem;
  --anedya-gauge-tick-size: 0.625rem;
}

@container anedya-gauge (min-width: 260px) {
  .anedya-gauge {
    --anedya-gauge-padding: 1rem;
    --anedya-gauge-value-size: 2.25rem;
    --anedya-gauge-unit-size: 1rem;
    --anedya-gauge-label-size: 0.875rem;
    --anedya-gauge-tick-size: 0.75rem;
  }
}

@container anedya-gauge (min-width: 380px) {
  .anedya-gauge {
    --anedya-gauge-padding: 1.25rem;
    --anedya-gauge-title-size: 1rem;
    --anedya-gauge-value-size: 3rem;
    --anedya-gauge-unit-size: 1.125rem;
    --anedya-gauge-label-size: 1rem;
    --anedya-gauge-tick-size: 0.8125rem;
  }
=======
.anedya-card > * {
  transition: font-size 0.25s ease;
>>>>>>> cd33dfd8d79dc13659866a58763b62db17a1511e
}